.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.chatRoot {
    flex: 1;
    display: flex;
}

@media only screen and (min-device-width : 320px) and (max-device-width: 480px) {
    .chatRoot {
        flex-direction: column-reverse;
    }
}
.chatContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.chatEmptyState {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 1024px;
    padding-top: 60px;
    width: 100%;
}

.chatEmptyStateTitle {
    font-size: 2rem;
    font-weight: 700;
    background: #ffeeeb;
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
    width: 100%;
    padding-bottom: 10px;
}

.chatEmptyStateSubtitle {
    font-weight: 600;
    margin-bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: #ffeeeb;
    font-size: x-large;
    padding-bottom: 10px;
}

.chatQuestionInstruction {
    font-weight: 600;
    padding-top: 10px;
    text-align: right;
    background-color: #ecfdf7;
}

@media only screen and (max-height: 780px) {
    .chatEmptyState {
        padding-top: 0;
    }

    .chatEmptyStateTitle {
        font-size: 3rem;
        margin-bottom: 0px;
    }
}

.chatMessageStream {
    flex-grow: 1;
    max-height: 1024px;
    max-width: 1028px;
    width: 100%;
    overflow-y: auto;
    padding-left: 24px;
    padding-right: 24px;
    display: flex;
    flex-direction: column;
}

.chatMessageGpt {
    margin-bottom: 20px;
    max-width: 80%;
    display: flex;
}

.chatMessageGptMinWidth {
    max-width: 500px;
    margin-bottom: 20px;
}

.chatInput {
    position: sticky;
    bottom: 0;
    flex: 0 0 100px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    width: 100%;
    max-width: 1028px;
    background: #ecfdf7;
    border-radius: 8px;
}

.chatAnalysisPanel {
    flex: 1;
    overflow-y: auto;
    max-height: 89vh;
    margin-left: 20px;
    margin-right: 20px;
}

.chatSettingsSeparator {
    margin-top: 15px;
}

.loadingLogo {
    font-size: 28px;
}

.commandsContainer {
    display: flex;
    align-self: center
}

.commandButton {
    margin-right: 20px;
    margin-bottom: 20px;
}
